.container {
    max-width: 90dvw;
    background: #f2f2f2;
    padding: 4px;
    margin-bottom: 12px;
    border-radius: 12px;
}

.title {
    font-size: 1.2rem;

}

.description {
    letter-spacing: 4px;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;

}